<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Node JS Test</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="<%=host%>/plugins/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="<%=host%>/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
        <link rel="stylesheet" href="<%=host%>/dist/css/adminlte.min.css">
        <link rel="stylesheet" href="<%=host%>/dist/css/mystyle.css">
    </head>
    <body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
        <div class="wrapper">

            <!-- Preloader -->
            <div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__wobble" src="<%=host%>/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
            </div>

            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-dark">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="" class="nav-link">Home</a>
                    </li>
                </ul>
            </nav>
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a href="<%=host%>" class="brand-link">
                    <img src="<%=host%>/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">AdminLTE 3</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                    <img src="<%=host%>/dist/img/profile.svg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                    <a href="#" class="d-block">Rikian Faisal</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li id="data-product1" style="cursor: pointer;" class="nav-item">
                            <div class="nav-link active"><i class="nav-icon fas fa-book"></i><p>Data Product</p></div>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">DataTable Product</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard v2</li>
                            </ol>
                        </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <!-- database -->
                        <div style="display: none;" id="data-product" class="card">
                            <div class="card-header">
                            <h3 class="card-title">DataTable Product</h3>
                            </div>
                            <div class="card-body">
                                <div id="users" class="dataTables_wrapper dt-bootstap4">
                                    <div class="db-row">
                                        <div class="col-sm-12 col-md-7">
                                            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item active">
                                                        <div id="all-pagination" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">All</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">a</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">b</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">c</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">d</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">e</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">f</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">g</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">h</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">i</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">j</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">k</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">l</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">m</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">n</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">o</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">p</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">q</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">r</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">s</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">t</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">u</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">v</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">w</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">x</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">y</div>
                                                    </li>
                                                    <li class="paginate_button page-item ">
                                                        <div id="pagination-b" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">z</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="db-row">
                                        <div class="col-md-8 offset-md-2">
                                            <div class="input-group">
                                                <input id="search-barang" type="search" class="form-control form-control-lg" placeholder="Type your keywords here">
                                                <div class="input-group-append">
                                                    <button id="btn-search-user" type="submit" class="btn btn-lg btn-default">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="db-row">
                                        <div style="margin-left: 10px;" class="input-group">
                                            <div class="input-group-append">
                                                <button id="add-product1" class="btn btn-lg btn-default">
                                                    Tambah Barang
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="db-main" class="db-row">
                                        <div class="col-sm-12">
                                            <table id="table-product" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Foto Barang</th>
                                                        <th>Nama Barang</th>
                                                        <th>Harga Beli</th>
                                                        <th>Harga Jual</th>
                                                        <th>Stock</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="body-products"></tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>Foto Barang</th>
                                                        <th>Nama Barang</th>
                                                        <th>Harga Beli</th>
                                                        <th>Harga Jual</th>
                                                        <th>Stock</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="db-paginations" class="db-row db-paginations">
                                        <div class="col-sm-12">
                                            <table id="table-product" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Foto Barang</th>
                                                        <th>Nama Barang</th>
                                                        <th>Harga Beli</th>
                                                        <th>Harga Jual</th>
                                                        <th>Stock</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="body-pagination"></tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>Foto Barang</th>
                                                        <th>Nama Barang</th>
                                                        <th>Harga Beli</th>
                                                        <th>Harga Jual</th>
                                                        <th>Stock</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="db-search" class="db-row db-paginations">
                                        <div class="col-sm-12">
                                            <table id="table-product" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Foto Barang</th>
                                                        <th>Nama Barang</th>
                                                        <th>Harga Beli</th>
                                                        <th>Harga Jual</th>
                                                        <th>Stock</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="db-search-body"></tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>Foto Barang</th>
                                                        <th>Nama Barang</th>
                                                        <th>Harga Beli</th>
                                                        <th>Harga Jual</th>
                                                        <th>Stock</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- add product -->
                        <div id="add-product" class="card">
                            <div class="card-header">
                                <h3 class="card-title">Add Product</h3>
                            </div>
                            <div class="card-body">
                                <div id="product" class="dataTables_wrapper dt-bootstap4">
                                    <div style="width: 50%;" class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title">Tambah Product</h3>
                                        </div>
                                        <form>
                                            <div class="card-body">
                                                <div id="con-img-preview"><img id="img-preview" src="" alt="" style="max-width: 50%;"></div>
                                                <div class="form-group">
                                                <label for="nama-barang">Nama Barang</label>
                                                <input type="text" class="form-control" id="nama-barang" placeholder="Nama Barang" required>
                                                </div>
                                                <div class="form-group">
                                                <label for="harga-beli">Harga Beli</label>
                                                <input type="text" class="form-control" id="harga-beli" placeholder="Harga Beli" required>
                                                </div>
                                                <div class="form-group">
                                                <label for="harga-jual">Harga Jual</label>
                                                <input type="text" class="form-control" id="harga-jual" placeholder="Harga Jual" required>
                                                </div>
                                                <div class="form-group">
                                                <label for="stock-barang">Stock</label>
                                                <input type="text" class="form-control" id="stock-barang" placeholder="Stock" required>
                                                </div>
                                                <div class="form-group">
                                                <label for="gambar-barang">Gambar Barang</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="gambar-barang" required>
                                                    <label class="custom-file-label" for="gambar-barang">Choose file</label>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        
                                            <button id="btn-add-reset" type="reset" class="btn btn-primary">Reset</button>
                                        </form>
                                        <div class="card-footer">
                                            <button id="btn-add-submit" class="btn btn-primary">Submit</button>
                                            <button id="btn-add-close" class="btn btn-primary">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- update product -->
                        <div id="update-product" class="card">
                            <div class="card-header">
                            <h3 class="card-title">Update Product</h3>
                            </div>
                            <div class="card-body">
                                <div id="product" class="dataTables_wrapper dt-bootstap4">
                                    <div style="width: 50%;" class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title">Update Product</h3>
                                        </div>
                                        <form>
                                            <div class="card-body">
                                                <div>
                                                    <img id="up-img-preview" src="" alt="" style="max-width: 50%; margin-bottom: 20px;">
                                                </div>
                                                <div class="form-group">
                                                    <label for="up-id-barang">ID Barang</label>
                                                    <div class="form-control" id="up-id-barang" placeholder="Nama Barang" required></div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="up-nama-barang">Nama Barang</label>
                                                    <input type="text" class="form-control" id="up-nama-barang" placeholder="Nama Barang" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="up-harga-beli">Harga Beli</label>
                                                    <input type="text" class="form-control" id="up-harga-beli" placeholder="Harga Beli" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="up-harga-jual">Harga Jual</label>
                                                    <input type="text" class="form-control" id="up-harga-jual" placeholder="Harga Jual" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="up-stock-barang">Stock</label>
                                                    <input type="text" class="form-control" id="up-stock-barang" placeholder="Stock" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="up-gambar-barang">Nama Gambar Barang</label>
                                                    <div style="height: 90px;" class="db-row form-control" id="up-gambar-barang"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="up-ganti-gambar-barang">Ganti Gambar Barang</label>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="up-ganti-gambar-barang" required>
                                                            <label class="custom-file-label" for="up-ganti-gambar-barang">Choose file</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="btn-update-reset" type="reset" class="btn btn-primary">Reset</button>
                                        </form>
                                        <div class="card-footer">
                                        <button id="btn-update-submit" class="btn btn-primary">Submit</button>
                                        <button id="btn-update-close" class="btn btn-primary">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- view product -->
                        <div id="view-product" class="card">
                            <div class="card-header">
                                <h3 class="card-title">Product</h3>
                            </div>
                            <div class="card-body">
                                <div id="product" class="dataTables_wrapper dt-bootstap4">
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title">Product</h3>
                                        </div>
                                        <img id="v-image" style="max-width: 300px; margin-top: 10px;" src="" alt="user-avatar">
                                        <div class="card-body">
                                            <div id="v-nama-barang">Nama Barang : Beras</div>
                                            <div id="v-harga-jual">Harga Jual : 9000</div>
                                            <div id="v-harga-beli">Harga Beli : 9000</div>
                                            <div id="v-stock">Stock : 90</div>
                                        </div>
                                        <div class="card-footer">
                                            <button id="v-btn-close" class="btn btn-primary">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/. container-fluid -->
                </section>
                <!-- /.content -->
            </div>
        </div>
        <!-- ./wrapper -->

        <script src="<%=host%>/plugins/jquery/jquery.min.js"></script>
        <script src="<%=host%>/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="<%=host%>/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <script src="<%=host%>/dist/js/adminlte.js"></script>
        <script src="<%=host%>/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
        <script src="<%=host%>/plugins/raphael/raphael.min.js"></script>
        <script src="<%=host%>/plugins/jquery-mapael/jquery.mapael.min.js"></script>
        <script src="<%=host%>/plugins/jquery-mapael/maps/usa_states.min.js"></script>

        <!-- custom js -->
        <script src="<%host%>/public/js/script.js"></script>
    </body>
</html>
